.navbar{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: #dd9d3c ;
  font-family: Roboto;
}

.logo{
  height: 80px;
  width: 80px;
}

.user-data {
  display: flex;
  flex-direction: column;
}
.user-data h1 {
  padding-left: 20px;
  font-size: 18px;
}

.user-data h2 {
  padding-left: 20px;
  font-size: 14px;
}